* {
    margin: 0;
    padding: 0;
  }


  header{
    height: 60px;
    background-color: #000;
  }
  

  .header-nav {
  background-color: #000;
  position: fixed;
  height: 60px;
  width: 100%;

  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}

nav {
  margin-right: 5%;
}

a {
    color: #fff;
    text-decoration: none;
  }
  
  a:hover {
    color: #f00;
  }

  
  .first-block {
    height: 500px;
    background-color: #ddd;
  }
  
  .second-block {
    height: 500px;
    background-color: #f0f0f0;
  }
  
  .third-block {
    height: 500px;
    background-color: #5eb6ff;
  }



  #first-block {
    background-image: url("../images/first-dack.jpg");
    background-size: cover;
    width: 100%;
    height: 550px;
  
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .title-container {
    text-align: center;
  }
  
  h1 {
    font-size: 70px;
    font-family: serif;
    color: #ff8585;
  }
  
  h3 {
    font-size: 50px;
    font-family: serif;
    color: #000000;
  }
  /*   First block End   */

  #second-block {
    background-image: url("../images/second-dack.jpg");
    text-align: center;
    padding-top: 100px;
    padding-bottom: 200px;
  }
  
  .about-container {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
  }
  
  .info-title {
    font-size: 60px;
    font-family: serif;
    margin-bottom: 20px;
    color: #444;
    text-align: center;
  }
  
  .info-text {
    font-size: 20px;
    margin-bottom: 20px;
    color: #444;
  
    width: 30%;
  }
  
  .font-small {
    font-size: 15px;
  }
  



  #third-block {
    background-color: #ffffff;
    text-align: center;
    padding-top: 100px;
    padding-bottom: 100px;
  }
  
  .event-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
  
    width: 100%;
  }
  
  .events-title {
    font-size: 60px;
    font-family: serif;
    color: #444;
  }
  
  .event {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  
    margin-top: 30px;
    margin-bottom: 20px;
    width: 100%;
  }
  
  .event-name {
    font-size: 25px;

    width: 50%;
    padding-top: 30px;
    margin-bottom: 250px;
  }
  
  span {
    font-size: 40px;
    font-family: serif;
  }
  
  .event-image {
    width: 30%;
    height: 30%;
  }

  footer {
    display: flex;
    justify-content: center;
    align-items: center;
  
    height: 50px;
    background-color: #000;
    font-size: 15px;
    color: #fff;
  }


#bottom-block{
    background-color: #000;
}